.pure-g {
    margin-bottom: 40px;
}

.vis-container {
    width: 100%;
    margin-left: 50px;
}

body {
    background-color: bisque;
}

h1{
    font-family:sans-serif;
}

p{  
    font-size: 20;
    font-family:cursive;
}
